.MensajePagoFacil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid rgba(64, 65, 69, 0.1);
    border-radius: 5px;
    margin: 50px auto 0 auto;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    width: 85%;
    padding: 10px;
}

.logo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}



.paragraph{
    line-height: 30px;
    color: #404145;
    text-align: justify;
    white-space: normal;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
}


.paragraph > a{
    color: #404145;
    font-weight: 600;
}

@media (min-width: 550px){

    .MensajePagoFacil{
        padding: 25px;
        margin: 80px auto;
         width: 80vh;
        }
}
