
.Carrito{
    align-self: center;
}
.MiCarrito:hover > svg > path{
    stroke: #5f6168;
    }
.MiCarrito:hover > svg > circle{
        stroke: #5f6168;
        }
.MiCarrito:hover > p{
color: #5f6168;;
}
    
.MiCarrito{
    color: #404145;
    cursor: pointer;
    width: 15px;
}

.MiCarrito > p{
    letter-spacing: 0.11rem;
        color:  #404145;
        text-align: center;
        font-size: 0.65rem;
        margin-block-start: 0em;
    margin-block-end: 0em;
}


  .info{cursor: pointer;
        letter-spacing: 0.11rem;
        color:  #404145;
        text-align: center;
        background-color: white;
        position: absolute;
        z-index: 5;
        width: 90%;
        top: 9%;
        left: 5%;
        border: 1px solid rgba(64, 65, 69, 0.2);
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        -webkit-box-shadow: 0px 2px 16px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 16px -9px rgba(0,0,0,0.75);
box-shadow: 0px 2px 16px -9px rgba(0,0,0,0.75);
    }

    .show{
        visibility: visible;
        opacity: 1;
    }


    .card{
        border: 1px solid rgba(64, 65, 69, 0.2);
        padding: 20px;
        cursor: pointer;
        text-align: left;
        font-size: 0.9rem;
    }
    .card:hover{
        border: #5f6168 1px solid;
    }
    .info > a{
        text-decoration: none;
    }

    .info > a > button{
            display: inline-block;
            color: white;
            background-color:  #404145;
            outline: none;
            border: 2px  #404145 solid;
            padding: 5px;
            cursor: pointer;
            letter-spacing: 0.11rem;
            font-size: 1.2rem;
            font-weight: 700;
            box-shadow: 0 0 20px #eee;
            border-radius: 4px;
            margin: 6px;
            width: calc(100% - 30px);
            transition: all 0.3s ease;
    }

    .info > a > button:hover{
        background-color: #5f6168;
        
    }

    @media (min-width: 450px){
        .info{
            max-width: 400px;
            left: initial;
            right: 8%;
        }

        
    }

    @media (min-width: 800px){
        .Carrito{
            margin-right: 80px;
        }
        
    }

    @media (min-width: 500px){
        .Carrito:hover > .info{
            visibility: visible;
            opacity: 1;
        }
    }