.GaleriaModelos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.title{
  font-size: 1.5rem;
    color: #404145;
    letter-spacing: 0.11rem;
    padding: 20px 0;
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.GaleriaModelos > p{
    color: #404145;
    letter-spacing: 0.11rem;
    line-height: 22px;
    text-align: center;
}

.shakeVertical {
    width: 30px;
    -webkit-animation: shake-vertical 6s ease-in-out both infinite;
    animation: shake-vertical 3s ease-in-out both infinite;
}

@-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    0%,
    25%,
    50%,
    75% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
    }
    12.5%,
    37.5%,
    62.5% {
      -webkit-transform: translateY(6px);
              transform: translateY(6px);
    }

  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    0%,
    25%,
    50%,
    75% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
      -webkit-transform: translateY(6px);
              transform: translateY(6px);
    }

  }
  

  @media (min-width: 500px){
    .title{
      font-size: 2rem;
    }
    .GaleriaModelos > p{
      width: 70%;
    }
  }