
.titulo{
    font-size: 1.4rem;
    color: #404145;
    text-align: left;
    border: 0;
    font-weight: bold;
    margin-bottom: 15px!important;
    margin-left: 5px;
}

input[name="envio"]{
    display: none;
    appearance: none;
}

.formaDeEnvio{
    box-shadow: rgba(64, 65, 69, 0.04) -2px 3px 7px 3px;
}

.opEnvio1, .opEnvio2{
    border: 1px solid rgba(64, 65, 69, 0.1);
    padding: 14px 14px 14px 55px;
    box-sizing: border-box;
    position: relative;
   
}

.opEnvio1{
    border-radius: 10px 10px 0 0;
}

.opEnvio2{
    border-radius: 0 0 10px 10px;
    border-top: 0;
}

.tipoenvioCard1, .tipoenvioCard2{
    display: block;
    box-sizing: inherit;
     cursor: pointer;
    width: 100%;
    height: auto;
}

.selectorEnvio{
    position: absolute;
    top: -1px;
    left: -1px;
    width: 45px;
    height: 102%;
    margin: 0;
    text-align: center;
}

.opEnvio2 .selectorEnvio:before,
.opEnvio1 .selectorEnvio:before {
    margin: 15px 0 0 0;
}

.selectorEnvio:before {
    width: 20px;
    height: 20px;
    margin: 1px 15px 0 0;
    border-color: rgba(64, 65, 69, 0.5);
}

.selectorEnvio:before {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 1em;
    margin-right: .7em;
    vertical-align: -.25em;
    width: 1em;
}


.info1, .info2{
    display: flex;
    line-height: 1.2em;
    color: #515258;
}

.info1 > span, .info2> span{ 
    width: 100%;
}

.precioRetiro{
    color: rgb(64, 65, 69);
    float: right;
    font-weight:700;
    font-size: 1rem;
    margin-block-start:0px;
    margin-block-end:4px;
    margin-inline-end:0px;
margin-inline-start:0px;
margin-top:0px;
}
.info1 > span > div,
.info2 > span > div{
    font-weight:600;
    font-size: 0.9rem;
    max-width: 70%;
}

.info1 > span > p,
.info2 > span > p{
    font-size: 0.8rem;
    margin-bottom:4px;
margin-top:4px;
line-height:18px;
opacity:0.8;
color: rgb(92, 92, 92);
}



.selectFormaDeEnvio{
    border: 4px #404145 solid;
}

.activeEnvio{
    background: #404145;
}


input[name="envio"]:checked + .selectorEnvio:after {
    box-sizing: inherit;    
    top: 15px;
    left: 14px;
    background: #ffffff;
    border-color: #ffffff;
}

input[name="envio"]:checked + .selectorEnvio:after{
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23404145"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>');
    width: 16px;
    border-radius: 50%;
}