body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

*::-webkit-scrollbar{
  color: #7f8291a0;
  background-color: #E1E1E1;
  max-width: 10px;
}
*::-webkit-scrollbar-track-piece{
  max-width: 20px;
  color: #111;
}

*::-webkit-scrollbar-thumb{
  color: #7f8291a0;
  background-color: rgb(190, 190, 171);
  border-radius: 5px;
}

